@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Roboto+Slab:wght@500&family=Rokkitt&family=Urbanist:wght@500&display=swap");
$font-family1: "Playfair Display", serif;
$font-family2: "Roboto Slab", serif;
$font-family3: "Rokkitt", serif;
$font-family4: "Urbanist", sans-serif;

@mixin Structure() {
  body {
    font-family: $font-family3;
  }
}
